<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>calculator-Demo</title>
</head>
<body style="background-color:grey;">
<h1><center>welcome everyone for my new calculator demo</h1></center>
<h4><p>Press the button to perform the operation</p></h4>
<form method="post">
    <label for="fval">First value:</label>
<input type="text" name="first_value" >
    <label for="secval"> Second value</label>
<input type="text" name="second_value"><br>
<center>
<input type ="submit" name="submit_button" value="Addition">
<input type ="submit" name="submit_button" value="Subtraction">
<input type ="submit" name="submit_button" value="Multiply">
<input type ="submit" name="submit_button" value="Division">
</center>

</form>
</body>
</html>